/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
.main-maps {
  height: 100%;
  width: 100%;
  border: solid black 3px;
  border-radius: 20px;
}

.map-container {
  padding: 30px;
  height: 350px;
  width: 70%;
  margin-left: 15%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
